@ IN SOA l42.eu. bind.lukeblaney.co.uk. (
	{{ '{:8}'.format(serial) }}; Serial
	604800  ; Refresh
	86400   ; Retry
	2419200 ; Expire
	60      ; Negative Cache TTL
)

@                 IN      NS      dns.l42.eu.
@                 IN      TXT     google-site-verification=A2baH0gCFFUF4pICanDH0I1NS7aZ0myI5DLfSZ4axIc
@                 IN      TXT     "v=spf1 a:mail.l42.eu include:_spf.google.com ~all"
_dmarc            IN      TXT     "v=DMARC1; p=quarantine; rua=mailto:postmaster@l42.eu; ruf=mailto:postmaster@l42.eu; sp=quarantine; ri=3600"

@       IN      MX      1       aspmx.l.google.com.
@       IN      MX      5       alt1.aspmx.l.google.com.
@       IN      MX      5       alt2.aspmx.l.google.com.
@       IN      MX      10      aspmx2.googlemail.com.
@       IN      MX      10      aspmx3.googlemail.com.

nas     IN      CNAME      xwing.s
ssh     IN      CNAME      avalon.s

{% for record in a_records -%}
	{{ '{:20}'.format(record.from) }} IN A       {{ record.to }}
{% endfor %}
{% for record in cname_records -%}
	{{ '{:20}'.format(record.from) }} IN CNAME   {{ record.to }}
{% endfor %}